<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="gravatar.api" class="Ornicar\GravatarBundle\GravatarApi" />

        <service id="gravatar.helper" class="Ornicar\GravatarBundle\Templating\Helper\GravatarHelper">
            <argument type="service" id="gravatar.api" />
            <argument type="service" id="router" on-invalid="null" />
        </service>

        <service id="twig.extension.gravatar" class="Ornicar\GravatarBundle\Twig\GravatarExtension">
            <tag name="twig.extension" />
            <argument type="service" id="gravatar.helper" />
        </service>
    </services>
</container>
